@import "vanilla-framework";
@include vanilla;
body{background:#0000dd; border:2px
}
article h1{
background:#ffffff; font:#000000; position:center
}
aside{
background:#000000;
position:inline-block
}
#div.pdeb{
image-orientation: inline;
display:inline-block;
position:center;
width:100px;
height:150px;
font-size:14px;
color:#ffffff
} 
legend{
position:center
}
