@import "vanilla-framework";
@include vanilla;
body{
background: #000ddd;
margin: 5px
}
article{ background: #000000; 
padding: auto;
margin: auto;
border: 4px;
width: 80%;
height: 80%
}
h2{
position:relative;
font: #ffffff;
}
aside{
background: #ffffff;
position: relative;
padding: 70%;
margin: auto;
width: 80%;
height: 60%
}
div.pdeb fieldset legend h3{
position: middle; 
margin: 2px;
position:relative
}
div.pdeb figure{
padding: 68%;
margin: auto;
width: 110px;
height: 160px;
display: inline;
position: middle;
font-size: 14px;
color: #ffffff
}
div.pdeb figure img{
display: inline;
image-orientation: inline;
padding: auto;
margin: auto;
width: 100px;
height: 150px
}
div.pdeb figure img figcaption{
padding: auto;
margin:1px;
width: 15px;
height: 110px;
font-size: 14px;
color: #000000
}
