@import "vanilla-framework";
@include vanilla;
body{
background: #000ddd;
margin: 1%;
border: 0%;
padding: absolute
}
article h2{ 
background-color: #000000;
position : absolute;
margin: 5%;
border: 0%;
padding: 60%;
font-color: #FFFFFF
}
aside fieldset{
background-color: #FFFFFF;
position : absolute;
margin: 10%;
border: 0%;
padding: 50%;
font-color: #000000
}
div.class legend h3{
position: middle;
font-color: #000000
}
div.class figure{
background-color: #DDDFFD;
position: middle;
margin: 1%;
border: 0%;
padding: relative;
display: inline-block
font-color: #000000
}
div.class img{
background-color: #6495ED;
margin: 1%;
border: 0%;
padding: auto;
width: 100px;
height: 150px;
position: middle;
display: inline-block;
image-orientation: vertical
}
div.class figure img: figcaption{
background-color:#F0FFFF;
margin: 1%;
border: 0%;
padding: auto;
display: inline-block;
width: 100px;
height: 20px;
font-size: 14px;
font-color: #000000
}
